.titulo-motivos{
    margin: 55px 0px 0px 105px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;

    /* Secundario */
    color: #002B49;
}

.validation-alert{
  color: red;
}

/*filtros y buscador*/
.filtros-content{
    margin: 25px 0px 0px 104px;
    display: flex;
    align-items: center;
}

.filtros-content-element{
    margin-right: 25px;
}

.boton-cancelar{
  padding: 0 12px;
}



/* ubcacion seccion tabla */
.tabla-content{
    margin: 20px 0px 0px 104px;
    background-color: white;
    margin-right: 25px;
    border-radius: 5px;
    border: 1px solid #dcdfe4;
    margin-bottom: 30px;
}

.tabla-content-element{
    overflow-x: auto;
    width: 100%;
    position: relative;
}

.submitButtonDisabled {
  background-color: rgb(162, 227, 181);
  color: white;
}
.submitButtonDisabled:hover {
  background-color: rgb(162, 227, 181);
  color: white;
}
.lista-datos {
  display: block;
  padding-left: 15px;
  padding-top: 5px;
}
 .modal-datos-contracargo-content.modal-motivo-desc{
  padding: 0px 10px 10px 0px;
}

.no-aplicar-estilos-campo-largo {
  max-width: none; /* Anula el ancho máximo para esta celda */
  overflow: visible; /* Permite que el contenido se muestre completamente */
  text-overflow: unset; /* Restablece la propiedad text-overflow a su valor predeterminado */
}

.spinner {
  position: absolute;
  left: 40%;
  top: 50%
}

.mensaje-satisfactorio-boton-entendido {
  background-color: var(--color-primario);
  color: var(--color-7);
  padding: 8px;
}

.mensaje-satisfactorio-boton-entendido.variante-error{
  background-color: var(--color-error);
}

.mensaje-satisfactorio-icono.variante-error {
    background-color: var(--color-error);
}

.mensaje-satisfactorio-icono.variante-error i{
    margin-left: -1px;
    margin-top: -4px;
}

@media(max-width: 670px){

    /*Responsive indicadores*/
    .titulo-motivos{
        margin: 55px 0px 0px 28px;
    }


    .filtros-content{
        margin: 25px 0px 0px 30px;
    }


    /*Responsive tabla*/
    .tabla-content {
        margin-left: 10px;
    }

}
